.ConfirmDeleteTaskModal {
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba($color: #000, $alpha: 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vmin;
}