.List {
  border: 4px double rgba($color: blueviolet, $alpha: 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1001px) {
  .List {
    width: 22.5%;
    margin: 1rem calc(10% / 8);
  }
}
@media screen and (max-width: 1000px) and (min-width: 701px) {
  .List {
    width: 30%;
    margin: 1rem calc(10% / 6);
  }
}
@media screen and (max-width: 700px) and (min-width: 476px) {
  .List {
    width: 45%;
    margin: 1rem calc(10% / 4);
  }
}
@media screen and (max-width: 475px) {
  .List {
    width: 90%;
    margin: 1rem calc(10% / 2);
  }
}
.List-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.List-item-ctnr {
  min-height: 200px;
  flex-grow: 1;
  width: 100%;
  border-top: 4px double rgba($color: blueviolet, $alpha: 0.3);
}
.List-item {
  margin: 1rem 5%;
  word-break: break-word;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List-item-check {
  color: rgba(57, 201, 0, 1.0);
  transition: all 0.3s ease;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: white;
    background: rgba(57, 201, 0, 1.0);
  }
}

.List-item-txt {
  padding: 0 1rem;
  width: calc(100% - 3rem);
}

.List-item-x {
  color: red;
  transition: all 0.3s ease;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid red;
  }
}